@import '../../../common/styles/variables';

.education-list {
  .education-item {
    display: flex;
    margin: @base-margin 0;
    .year {
      flex: 0 0 68px;
      margin: 0;
      font-size: 14px;
    }
    .detail {
      flex: 1;
      padding: 6px;
      background-color: @background;
      .title {
        margin: 0;
        padding-bottom: @base-padding;
        font-size: 12px;
      }
      .description {
        font-size: 12px;
      }
    }
  }
}
