@import '../../../common/styles/variables';

.description {
  .title {
    color: @primary-color;
    text-transform: uppercase;
  }
  .detail {
    margin: @base-padding 0;
    font-size: 12px;
  }
}
